body {
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.top, .sec-two, .sec-three, .sec-four {
    padding: 0 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.top {
    background-color: #1F2937;
    
    
}


.header {
    display: flex;
    
}

.logo {
    height: 100px;
    width: 130px;
    border-radius: 50%;
}

.top-content {
    display: flex;
    color: white;
}





.placeholder-img {
    height: auto;
    width: 200px;
}


.info-img {
    height: auto;
    width: 100px;
}


.infos {
    display: flex;
}


.banner {
    display: flex;
}



.sec-three {
    background-color: #E5E7EB;
    
}




.footer {
    padding: 0 100%;
    width: 70%;
    background-color: #1F2937;
    text-align: center;
}