body {
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;/* align all sections center horizontally*/
    
}

.top, .sec-two, .sec-three, .sec-four {
    padding: 0 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    flex: 1;
    /*align-items: center;/* align all content in each section center horizontally*/
    justify-content: center; /*align all content in each section center vertically*/
}



.top {
    background-color: #1F2937;
    
    
}


.header {
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
}

.links {
    display: flex;
    gap: 20px;
}

.logo {
    height: 50px;
    width: 80px;
    border-radius: 50%;
}

.top-content {
    display: flex;
    color: white;
    margin-bottom: 30px;
    justify-content: space-between;
    
}

.left .secondary-text {
    max-width: 250px;
}




.placeholder-img {
    height: auto;
    width: 200px;
}



.info-title {
    text-align: center;
    
}

.infos {
    display: flex;
    justify-content: center;
    gap: 40px;
}


.info-img {
    height: auto;
    width: 100px;
}

.author {
    text-align: right;
}



.sec-three {
    background-color: #E5E7EB;
    
}

.banner {
    display: flex;
    justify-content: space-between;
}


.footer {
    padding: 0 100%;
    width: 70%;
    background-color: #1F2937;
    text-align: center;
}